/*.list-container {
  border: 1px solid black;
  height: 200px;
}*/

.border_two{
  margin-left: 200px;
  padding:10px;
  font-weight: 200px;

}

.list-container{
  margin-top: 79px;
  padding-left: 50px;

}
/*.line{
  width: 10px;
  height: 2px;
  border:1px solid black;
}*/

