.box{

  width: 500px;
  height: 280px;
}

h3{
  font-family: 'Rajdhani', sans-serif;
  padding-left: 90px;
  font-weight: 550;

  width: 700px;
  height: 350px;
  border: 1px solid black;


}


h2{
  font-family: 'Rajdhani', sans-serif;
  padding-left: 90px;
  font-weight: 450;

}

