*{
  margin:0;
}
header{
  height: 9vh;
  width: 100%;
  background-color: white;


}
h1{
 font-family: 'Rajdhani', sans-serif;
  font-size: 28px;
  padding-left: 40px;
  padding-top: 19px;
  font-weight: 300;
  color: #27a86d;

}

body{

  background: linear-gradient(to right, #27a86d , #9bffbb);
}
